{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <label for="symbol" class="mb-1">Symbol</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto mb-1" id="symbol" name="symbol" placeholder="e.g., AAPL, NFLX, FB" type="text">
        </div>
        <div class="mb-3">
            <label for="shares" class="mb-1">Shares</label>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" min="1" name="shares" placeholder="# of Shares" type="number">
        </div>
        <button class="btn btn-outline-secondary mt-3 mb-5" type="submit">Buy</button>
    </form>
    <div class="d-flex justify-content-center">
        <table class="table table-sm table-hover w-50">
            <thead>
                <tr class="table-primary table-dark">
                    <th class="text-center">Symbol</th>
                    <th class="text-center">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">AAPL</td>
                    <td class="text-center">Apple Inc</td>
                </tr>
                <tr>
                    <td class="text-center">NVDA</td>
                    <td class="text-center">NVIDIA Corporation</td>
                </tr>
                <tr>
                    <td class="text-center">AMD</td>
                    <td class="text-center">Advanced Micro Devices, Inc.</td>
                </tr>
                <tr>
                    <td class="text-center">GOOGL</td>
                    <td class="text-center">Alphabet Inc Class A</td>
                </tr>
                <tr>
                    <td class="text-center">NFLX</td>
                    <td class="text-center">Netflix Inc</td>
                </tr>
                <tr>
                    <td class="text-center">META</td>
                    <td class="text-center">Meta Platforms Inc</td>
                </tr>
                <tr>
                    <td class="text-center">SONY</td>
                    <td class="text-center">Sony Group Corp</td>
                </tr>
                <tr>
                    <td class="text-center">GME</td>
                    <td class="text-center">GameStop Corp</td>
                </tr>
                <tr>
                    <td class="text-center">more info</td>
                    <td class="text-center"><a href="https://finance.yahoo.com/lookup" target="_blank">https://finance.yahoo.com/lookup</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
