{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol" class="mb-1">Symbol</label>
            <select class="form-select mx-auto w-auto" id="symbol" name="symbol">
                <option disabled selected>Select a Symbol</option>
            {% for stock in stocks if not stock.shares == 0 %}
                <option value="{{ stock.symbol }}">{{ stock.symbol }} Shares: {{ stock.shares }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="shares" class="mb-1">Shares</label>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" min="1" name="shares" placeholder="# of Shares" type="number">
        </div>
        <button class="btn btn-outline-light mt-3" type="submit">Sell</button>
    </form>
{% endblock %}
